.box{
    border: unset !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.fa-arrow-circle-o-left{
    cursor: pointer !important;
    margin-right: 10px;
}