<div class="content-wrapper">
  <section class="content-header">
    <h1>
      Dashboard
    </h1>
  </section>

  <!-- Main content -->
  <section class="content">
    <!-- Small boxes (Stat box) -->
    <div class="row">
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-aqua-gradient">
          <div class="inner">
            <h3>{{totalService}}</h3>

            <p>Total Services</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer" [routerLink]="['/service-providers-panel/services']">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <div class="small-box bg-green-gradient">
          <div class="inner">
            <h3>₹ {{totalIncome}}</h3>

            <p>Total Income</p>
          </div>
          <div class="icon">
            <i class="ion ion-card"></i>
          </div>
          <a href="#" class="small-box-footer">Income</a>
        </div>
      </div>
      <div class="col-lg-3 col-xs-6">
        <div class="small-box bg-yellow-gradient">
          <div class="inner">
            <h3>{{totalBookings}}</h3>

            <p>Total Bookings</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer" [routerLink]="['/service-providers-panel/bookings']">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div>
      </div>
      <!-- ./col -->
      <div class="col-lg-3 col-xs-6">
        <!-- small box -->
        <!-- <div class="small-box bg-red-gradient">
          <div class="inner">
            <h3>{{totalProdcuts}}</h3>

            <p>Total Products</p>
          </div>
          <div class="icon">
            <i class="ion ion-bag"></i>
          </div>
          <a href="#" class="small-box-footer" [routerLink]="['/service-providers-panel/products']">More info <i class="fa fa-arrow-circle-right"></i></a>
        </div> -->
      </div>
      <!-- ./col -->
    </div>

    <!-- /.row -->
  </section>
  <!-- /.content -->

</div>